[2014-12-11 09:42] ghost opened #1 "No help icon displayed in Krumo"
The help icon at the bottom of Krumo displays is missing. The path it's looking for is '/misc/help.png' whereas it should be '/core/misc/help.png'.

[2015-01-18 09:17] quicksketch commented on #1
Thanks @BWPanda! I didn't have notifications on here in devel.module so I missed this. I just completed a full port of Devel (with config management) and ran across this as well. I deleted the "master" branch and put up a "1.x-1.x", so it closed the PR, but I added it back in manually. Thanks!

[2015-01-18 09:17] #1 closed, assigned to nobody

[2015-01-20 03:02] quicksketch opened #3 "Devel node access throws notices on every form submit"

[2015-01-20 03:03] quicksketch commented on #3
Fixed in https://github.com/backdrop-contrib/devel/commit/a5321a681614370dc5228357dc3e37927d3c467d.

[2015-01-20 13:36] serundeputy commented on #3
cool; so if  I do another pull from this repo I'll get that?

[2015-01-20 13:41] serundeputy commented on #3
yep; pull fixed it; sorry to clutter your issue queue.

[2015-01-20 22:46] quicksketch commented on #3
No problem! We also made another official release (1.5.1): https://github.com/backdrop-contrib/devel/releases

Thanks for reporting it (in IRC) in the first place. :smile:

[2015-01-20 22:46] #3 closed, assigned to nobody

[2015-02-14 07:50] jenlampton opened #4 "Add a UI to enable theme_debug"
There's an awesome new setting in backdrop (and Drupal) that allows people to see which template files they should be overriding. But in Backdrop core there's no UI. Devel should provide one.
- Add a checkbox to the devel settings page
- make sure config is updated appropriately. (system.core)

[2015-03-05 10:12] Graham-72 opened #5 "ddebug_backtrace() not working for me"
I am not getting ddebug_backtrace() to produce any output, although trying it in a way that is successful in Drupal 7. Am I doing something wrong or is it not working yet?

[2015-03-06 06:00] quicksketch commented on #5
Hi @Graham-72! I've never tried that function, so there's a good chance it's not working at the moment. In the mean time, you could use `dsm(debug_backtrace())`.

[2015-03-07 10:26] Graham-72 commented on #5
Thanks @quicksketch , I have now successfully used dsm(debug_backtrace()) and also print_r(debug_backtrace()) where dsm() wasn't producing visible output.

[2015-04-13 14:25] Drupaldise opened #6 "Devel generate -> Fatal error on content type Forum"
I am not sure if this is to devel or to the forum module related.
But when I try to generate content for forum topics, the following error is shown:
![mozilla firefox 2015-04-13 16-14-48](https://cloud.githubusercontent.com/assets/2930705/7117343/45415068-e1f8-11e4-911c-ebe2dbf4847c.jpg)

[2015-04-13 17:40] quicksketch commented on #6
Thanks @Drupaldise. I think it may be a combination of issues. Core has a bug that I encountered recently. I filed an issue at https://github.com/backdrop/backdrop-issues/issues/866. The core bug is only an error in the error-handling however, so there's an additional problem that triggers it in the first place.

[2015-06-06 06:07] ghost opened #7 "Add Development menu to Admin Bar"
In Drupal, the Development links were accessible from the Admin Menu (specifically the Home menu item). In Backdrop, there's a separate Development menu, but it's not visible by default and not accessible from the Admin Bar.

Is there a way of making these links accessible from the Admin Bar, or can we add that as a feature request here?

[2015-06-06 17:49] quicksketch commented on #7
Yes please! It makes sense to be here in Devel module. I'm guessing that in D7, Admin Menu provided the integration and when we did our port to core, we dropped all contrib module integration. Or it's possible that the admin_menu code is still here within Devel but just isn't updated for admin_bar yet.

[2015-06-06 18:46] sirkitree commented on #7
I'd love to see the `user/switch` stuff in the admin menu too, if not adding to the user indicator that exists, somewhere close by.

[2015-08-02 14:28] serundeputy opened #8 "move link field devel gernerate capabilities to the devel module"
per https://github.com/backdrop/backdrop-issues/issues/240 we moved the `link` module to backdrop core.  As part of the refactor we should move the `link.devel_generate.inc` capabilities to this module (`devel`).

[2015-09-04 23:27] klonos opened #9 "Include date.devel_generate.inc from Date contrib module."
In https://github.com/backdrop/backdrop-issues/issues/478 where we're getting date field into core, certain things changed or got (re)moved. One of these things is `date.devel_generate.inc`. So, if Devel is to support node generation when the node includes a date field, we need to include that.

[2015-09-04 23:45] docwilmot commented on #9
core doesnt usually have contrib support code built in.

Devel should start including code to support core date, not vice versa.

[2015-09-05 00:57] klonos commented on #9
Precisely, that's why @quicksketch is [removing things from Date contrib](https://github.com/backdrop/backdrop-issues/issues/478#issuecomment-136296582) before getting it in core.

Exactly. That's why perhaps we should get the code that was removed from `date.devel_generate.inc` into a `date.devel_generate.inc`. Right?

[2015-09-05 01:00] klonos commented on #9
...from the list of Nate's comment:

So this issue here serves as a todo.

[2015-09-05 01:04] docwilmot commented on #9
Ignore me. Thought this was backdrop issue queue. Oops

[2015-09-13 01:03] quicksketch opened #10 "Missing implementation of hook_config_info()"
This causes Devel to not delete its config file when the module is uninstalled.

See https://github.com/backdrop/backdrop-issues/issues/1167.

[2015-09-13 01:05] quicksketch commented on #10
Fixed with https://github.com/backdrop-contrib/devel/commit/266454c2f882405ac08aa5092879c96196e93d9a.

[2015-09-13 01:05] #10 closed, assigned to nobody

[2015-12-30 20:23] ghost commented on #5
I found the issue cause : it's about different coding of “error_level” between drupal and backdrop.
Line 1780 of devel.module :
`if (config_get('system.core', 'error_level') >= 1) {`
If you `dpm('error_level:'.config_get('system.core', 'error_level'));`, it shows “all”
So a quick and dirty :
`if (config_get('system.core', 'error_level') == 'all') {`
restores ddebug_backtrace() full functionality

[2015-12-30 23:57] quicksketch commented on #5
Nice one @gifad! I'll fix this and make a new bugfix release.

[2015-12-31 00:01] quicksketch commented on #5
Fixed in https://github.com/backdrop-contrib/devel/commit/cbf9328d02b6a130b9db1b560359767b001a7231.

[2015-12-31 00:01] #5 closed, assigned to nobody

[2016-05-01 14:15] klonos opened #12 "Use proper case for submodule names."
Currently, the submodules are named "Devel generate" and "Devel node access", but we use title case when referring to modules. So the module names should be "Devel **G**enerate" and "Devel **N**ode **A**ccess" respectively instead.

PR coming up...

[2016-05-02 12:09] klonos commented on #4
I started writing a copy of parts of the documentation in https://www.drupal.org/node/223440#theme-debug and just published [an initial handbook page](https://backdropcms.org/handbook/themer-guide/theme-debug-mode) under a new "Themer Guide" section I created for our handbook. I forgot why I started doing this, but I was pretty sure I saw a link either in a README file or while reviewing some code

[2016-05-07 21:22] klonos opened #16 "Strict standards: Only variables should be passed by reference in file.devel_generate.inc on line 21"
I tried generating a few article nodes and got these two errors:

[code]

[code]

[2016-05-15 00:24] klonos opened #17 "[UX] Devel Generate: Menus: Move the "Create new menu(s)" option after the existing menus checkboxes."
This option is separated from the "Number of new menus to create" field (that is hidden by default and shown via `#states` only when the option is selected) by the rest of the checkboxes for the existing menus:

![backdrop-contrib-devel-generate-menus-create_new_menus_option](https://cloud.githubusercontent.com/assets/2423362/15271344/288b71d8-1a87-11e6-8253-f71b2b3c098c.png)

The more existing me

[2016-05-15 00:44] klonos commented on #17
...here's what my PR does:

![backdrop-contrib-devel-generate-menus-create_new_menus_option_moved_after_existing_menus](https://cloud.githubusercontent.com/assets/2423362/15271385/0c3e160e-1a8a-11e6-8d6d-511e891bfbce.png)

[2016-05-15 02:11] klonos opened #19 "[UX] Devel Generate: Generate terms: Switch to checkboxes and use vocabulary names/labels instead of their machine names."
UX WTF! Steps to reproduce:
1. Generate a few vocabularies via the "Generate vocabularies" tab (`/admin/config/development/generate/vocabs`).
2. Head to the "Generate terms" tab (`/admin/config/development/generate/taxonomy`). Don't like the names of the vocabularies generated in step 1 above.
3. Go to the vocabularies admin page (`/admin/structure/taxonomy/list`) and rename the vocabularies.
4. R

[2016-05-15 02:28] klonos opened #21 "Devel Generate: Merge the "Generate terms" and "Generate vocabularies" tabs into a single tab (like the one we have for menus and menu items)."
People can generate both menus and menu items from a single place: the "Generate menus" tab. Why do we have separate tabs for generating vocabularies and terms?

I think that the UX is way better when generating menus and menu items and that we should be as consistent as we can in the UI. Besides, it makes more sense to merge the "Generate terms" and "Generate vocabularies" tabs into a single "**G

[2016-05-15 03:05] klonos opened #22 "Check if taxonomy.module is enabled before generating terms/vocabularies."
I've been messing with the code trying to mimic the menu and menu item generation form in order to convert the vocabulary select box in the term generation tab to a checkbox list instead. I've noticed that we check whether the menu.module is enabled before we render the list of menus (https://github.com/backdrop-contrib/devel/blob/1.x-1.x/devel_generate/devel_generate.module#L392). Doesn't it make

[2016-05-18 07:03] ghost opened #23 "Add description to 'Execute PHP' block"
After the kerfuffle with the 'Execute PHP' block in https://github.com/backdrop/backdrop-issues/issues/1891 I recommend adding a description to this block to better explain what it does (e.g. "Allows PHP code to be entered and executed wherever this block is rendered.").

[2016-05-18 07:05] ghost commented on #23
![firefox_screenshot_2016-05-18t06-59-56 674z](https://cloud.githubusercontent.com/assets/2385329/15350106/b4e7251a-1d1a-11e6-9077-032211b2ff03.png)
(nothing currently)

[2016-05-18 23:48] quicksketch commented on #23
Great idea, thanks! Agreed, all blocks should have a description, especially one as dangerous as this one.

[2016-06-17 17:13] Gormartsen opened #24 "Functions missing from devel.drush.inc"
Hi guys,

@quicksketch I checked drush.inc file changeling and noticed that you did change it year ago.

Specially you removed callback from generate functions.

Did you do it for purpose or is there just typo?

[2016-08-27 23:45] quicksketch commented on #19
I merged in the first PR, which switches to using the vocabulary label instead of the machine name. I'll leave this issue open if you'd like to follow-up to switch to checkboxes.

[2016-08-27 23:48] #12 closed, assigned to nobody

[2016-08-27 23:49] quicksketch commented on #12
Great, sounds good to me. Merged into the main branch. Thanks!

[2016-08-27 23:59] quicksketch commented on #16
Fixes in https://github.com/backdrop-contrib/devel/commit/eeb052d0c1968893f89164c0f87a935b454ab7bb. Thanks @klonos!

[2016-08-27 23:59] #16 closed, assigned to nobody

[2016-08-28 05:17] klonos commented on #19
Thanx @quicksketch.

I'll see how good my code-fu is and file a separate PR for the checkbox.

[2016-08-28 21:36] quicksketch commented on #17
Much better. Thanks @klonos!

[2016-08-28 21:36] #17 closed, assigned to klonos

[2016-08-28 21:48] quicksketch commented on #23
Fixed in https://github.com/backdrop-contrib/devel/commit/4d0617f5e3c8e502a4f0ad96b4611b881fd1f08c. Thanks @BWPanda!

[2016-08-28 21:51] quicksketch commented on #22
I think we already do this because we check if taxonomy module exists in `hook_menu()`: https://github.com/backdrop-contrib/devel/blob/1.x-1.x/devel_generate/devel_generate.module#L38

The entire pages for generate vocabs/terms isn't shown at all if the module doesn't exist. Menus are slightly different in that the concept of a menu still exists even without menu.module. That module just enables t

[2016-08-28 21:56] quicksketch commented on #6
This problem is still occurring. Now that the core issue has been fixed, we get a more descriptive error message:

[code]

So looks like we must be generating a node with an invalid option for "sticky", which should be 0 or 1, not an empty string.

[2016-08-28 22:26] quicksketch commented on #6
Fixed in https://github.com/backdrop-contrib/devel/commit/641bee02b422993b8b53c5c1c545f00ba0c6e81d. Thanks for reporting @Drupaldise!

[2016-08-28 22:26] #6 closed, assigned to nobody

[2016-08-28 22:27] quicksketch commented on #19
I switched the options to a checkbox. It didn't seem to require any further changes other than changing `#type`. I'll be make a new release, let's reopen this issue if we have any regressions.

[2016-08-28 22:27] #19 closed, assigned to klonos

[2016-08-28 23:24] quicksketch commented on #7
I restructured the way menu items work and removed a bunch of obsolete options (cache clear, cron run, menu rebuild) that admin bar replaces in https://github.com/backdrop-contrib/devel/commit/1c0145b3d4fcc45998f0161573edcbeac2cf6406. For now I've only exposed the existing menu items under a single top-level menu item (Development) and deleted the custom "devel" menu. Adding switch users under the

[2016-08-28 23:24] #7 closed, assigned to nobody

[2016-08-29 03:41] quicksketch commented on #9
Copying this right from contrib seemed to work perfectly, only needing to adjust `DateObject` into `BackdropDateTime`. Fixed in https://github.com/backdrop-contrib/devel/commit/90820ffa6f6c99db5deeba8662e439afee839521.

[2016-08-29 03:41] #9 closed, assigned to nobody

[2016-08-29 04:29] quicksketch commented on #8
Fixed in https://github.com/backdrop-contrib/devel/commit/832883c277a59f7348526a3418347a5478ad1eb8. Thanks!

[2016-08-29 04:29] #8 closed, assigned to nobody

[2016-08-29 05:32] quicksketch commented on #24
Hey Gor, I didn't mean to remove devel generate support. The file is still there but I admit I haven't checked on whether it works. Would be happy to fix/merge support if it is broken.

[2016-08-30 19:45] klonos commented on #23
Thanx @quicksketch ...minor nit: the parts of the text that you've wrapped with `<code>` tags would be better off with `<i>` tags and their first letter capitalized I believe. Follow-up PR 😉

[2016-08-30 19:49] klonos commented on #17
Wow @quicksketch! ...you're on fire. Thanx for the latest commits. Devel needed an overhaul. Fixing small annoyances here and there and adding minor improvements is what makes Backdrop a success. If we bring that mentality to contrib (especially popular modules like devel), then contrib will flourish as well. Great job.

[2016-08-30 19:53] quicksketch commented on #17
😀

On Tue, Aug 30, 2016, 12:49 PM Gregory Netsas notifications@github.com
wrote:

##

Sent from mobile

[2016-08-30 19:56] klonos opened #26 "Should we check whether certain modules providing fields are enabled?"
I don't see any if module exists checks before the functions that generate content. Do we actually need to do something like that or do we assume that if such a field exists in the content type, then the respective module must be enabled? Just curious that's all.

[2016-09-18 12:59] klonos opened #27 "Generate menus: "Types of links to generate" option not respected."
I've noticed that even though I select to only generate nodes, some of the generated menu items link to the home page and some to example.com

[2016-10-04 05:34] sentaidigital commented on #4
PR updated with a check to make sure Devel doesn't break BD < 1.5.0.

[2016-11-10 17:36] herbdool opened #29 "devel_node_access attempts to access the block table to determine who can view the block"
The issue is on line 471 of `devel_node_access.module`:

[code]

This will need to be changed to check the layout instead. Or is it needed at all? Doesn't the layout figure out itself if it should be visible to whom on that view?

[2016-11-23 23:40] serundeputy opened #30 "drush_devel_fn_view can not find install.inc"
`drush_devel_fn_view` can not find the `install.inc` file.

[2016-12-14 16:04] MrHaroldA commented on #4
While the patch/PR above works perfectly, I think the description is lacking information.

![image](https://cloud.githubusercontent.com/assets/695291/21189511/3bb7c92e-c21f-11e6-8c68-ea987a6029a2.png)

Unless you accidentally look in the source, you'll never notice it's on.

[2016-12-15 15:01] sentaidigital commented on #4
What should it say?

[2016-12-15 16:13] klonos commented on #4
Something like this perhaps?:

[2016-12-15 19:21] jenlampton commented on #4
I don't like the word "Displays", that makes me think they will all be rendered or something. How about

[2016-12-15 21:25] MrHaroldA commented on #4
It could also do with it's own fieldset instead of adding it to the general fieldset.

[2016-12-16 14:36] sentaidigital commented on #4
It is sharing a fieldset with the one other item saved in `system.core` instead of `devel.settings`.

[2016-12-16 14:38] sentaidigital commented on #4
Patch updated and pushed to the open PR.

[2016-12-31 21:43] quicksketch commented on #23
Thanks, minor PR updates merged as well.

[2016-12-31 21:43] #23 closed, assigned to nobody

[2016-12-31 22:39] quicksketch commented on #4
Thanks @sentaidigital! I merged https://github.com/backdrop-contrib/devel/pull/28 before I found your PR. I'll combine both into a single approach.

[2016-12-31 22:44] quicksketch commented on #4
This was fixed in https://github.com/backdrop-contrib/devel/commit/49a1f79ae486dd09486ab3ff9e6c7570d9201a9a, where I combined the two PRs #28 and #15.

[2016-12-31 22:44] #4 closed, assigned to nobody

[2016-12-31 22:45] quicksketch commented on #30
Thanks, fixed!

[2016-12-31 22:45] #30 closed, assigned to nobody

[2016-12-31 22:46] #22 closed, assigned to nobody

[2017-01-15 13:07] klonos opened #33 "[DX] Merge Search Krumo functionality."
I never heard of this project before: https://www.drupal.org/project/search_krumo

It would make the life of beginner devs such as myself sooo much easier. Amazeballs!!!:

![search_krumo-instant_search](https://cloud.githubusercontent.com/assets/2423362/21962668/9f6a61f6-db7f-11e6-9539-9ed19d83e9ec.png)

![search_krumo-get_path](https://cloud.githubusercontent.com/assets/2423362/21962670/a62dc4ec-

[2017-01-15 13:12] jlfranklin commented on #33
Rather than merge that module into this one, how about we invite bramtenhove to port it to Backdrop?

[2017-01-16 02:00] klonos commented on #33
I thought of that, but I did a little bit of research and turns out that @bramtenhove had filed an issue for adding Search Krumo in the official Devel project: https://www.drupal.org/node/1807820

...that issue was wontfixed, so I thought that perhaps he'd be interested in becoming a co-maintainer of the Devel port and add Search Krumo in it (as a Devel Search submodule perhaps?).

[2017-01-16 02:19] klonos commented on #33
https://www.drupal.org/node/2843730 😉

[2017-01-16 02:20] klonos commented on #33
@quicksketch how would you feel about this as the current maintainer of Devel for Backdrop?

[2017-03-23 21:19] herbdool opened #34 "Warning: Use of undefined constant DEVEL_ERROR_HANDLER_STANDARD"
[code]

[2018-01-15 00:27] ghost opened #35 "Remove orphan config files"
As per https://github.com/backdrop/backdrop-issues/issues/2938, it'd be nice if we could add a page that listed, and optionally removed, orphan config files (i.e. config files created by modules that no longer exist).

Use case would be either when modules don't clean up after themselves properly, or when a site has been restored to a previous database backup, but the files/config directory is sti

[2018-04-27 07:53] ghost opened #36 "'Access Denied' when trying to switch user account"
When I go to Development > Switch User Account, then enter a user's name and click Switch, I get taken to a page with an 'Access Denied' message. The URL of this page is: /admin/devel/switch/[USER NAME]?destination=&token=[RANDOM STRING]

I believe the issue lies with the `_devel_switch_user_access()` function in devel.module, as I can return TRUE from that function and it works correctly then.

-

[2018-10-06 11:52] laryn opened #38 "Devel Node Access doesn't have hook_config_info"
As [reported in the forum](https://forum.backdropcms.org/comment/571#comment-571).

@quicksketch you are listed as maintain of `devel`, I assume that means you maintain `devel_node_access`, too (despite the README saying there is no maintainer for `devel_node_access`)?

[2018-12-17 06:05] findlabnet opened #40 "Make "The theme registry is being rebuilt on every request." a warning."
devel/devel.module line 390:

-- backdrop_set_message(t('The theme registry is being rebuilt on every request. Remember to <a href="!url">turn off</a> this feature on production websites.', array("!url" => url('admin/config/development/devel'))));

++ backdrop_set_message(t('The theme registry is being rebuilt on every request. Remember to <a href="!url">turn off</a> this feature on production web

[2019-01-04 17:30] klonos opened #42 "Notice: Array to string conversion in devel_is_compatible_optimizer()"
I get 8 of these each time I enable/disable theme debug:

[2019-01-04 18:28] klonos opened #43 "Duplicate "Development" menu item in admin bar"
<img width="350" alt="screen shot 2019-01-04 at 8 21 10 pm" src="https://user-images.githubusercontent.com/2423362/50703949-680a8180-105e-11e9-8084-70311783f7e8.png">

So there is `/admin/config/development/devel` (under "Configuration"), but also `/admin/devel/settings` (top-level), which both lead to the same page.

Not entirely sure, but I believe that this started happening after [these change

[2019-03-29 07:47] ghost opened #44 ""Parameter must be an array or an object that implements Countable""
I get this warning every time I use `dpm()`:

Researched it and it's because in PHP v7.2.0 "`count()` will now yield a warning on invalid countable types passed to the `array_or_countable` parameter." ([source](https://www.php.net/manual/en/function.count.php#refsect1-function.count-changelog)).

Ideal solution would be to simply check [`is_countable()`](https://www.php.net/manual/en/function.is-c

[2019-04-02 02:52] jlfranklin opened #46 "Classes with getters or setters can block the attempts by Krumo to stain an object."
Port of the Drupal issue [devel-3045098](https://www.drupal.org/project/devel/issues/3045098).

[2019-04-06 19:53] klonos opened #48 "Notice: Trying to get property of non-object in {closure}()"
When trying to generate taxonomy terms for (also devel-generated) vocabularies, I get this notice, repeated multiple times; independently of number of vocabularies and/or number of terns trying to generate:

[code]

...followed by this:

[code]

Some terms are being generated, but not all. A random number each time; different for each vocabulary.

[2019-04-09 18:49] klonos commented on #42
...also happens when enabling the "Rebuild the theme registry on every page load" option.

[2019-05-29 18:14] klonos commented on #44
This is the respective issue as https://www.drupal.org/project/devel/issues/2959508

@BWPanda thanks for the research and finding that polyfill as a more future-proof solution 👍 ...we should include the rest of the changes that went in with https://git.drupalcode.org/project/devel/commit/bd4061f though. I have amended your PR to do just that. I hope that's OK.

[2019-05-29 18:23] ghost commented on #44
Sure, I added some review questions though...

[2019-05-29 18:32] klonos commented on #44
@BWPanda I don't see any comments in the PR.

[2019-05-29 19:50] klonos opened #49 "7.x-1.5 to 7.x-1.6 cross-ports"
I am assuming that I need to start from 7.x-1.5, since the first release of the Backdrop port claims to have parity with that version: https://github.com/backdrop-contrib/devel/releases/tag/1.x-1.5

- [x] #64 | [dcf7727](http://git.drupalcode.org/project/devel/commit/dcf77278a96b1275cae5866970048f54c19f34ff) | [Remove xhprof integration. Please use xhprof module. Or if you prefer a non-Drupal solu

[2019-05-29 19:52] klonos opened #50 "7.x-1.6 to 7.x-1.7 cross-ports"
...follow-up from #49

- [ ] | #xx | [75b6da2](http://git.drupalcode.org/project/devel/commit/75b6da2c54ea5c88056e0e28c793fb37800e6b85) | [Issue #2962943 by ron_s, MustangGB: Multi-level objects/arrays displayed with krumo causes page to never finish loading.](http://drupal.org/project/devel/issues/2962943)
- [ ] | #xx | [b2d0766](http://git.drupalcode.org/project/devel/commit/b2d076623658a117dfba

[2019-05-29 20:43] klonos opened #52 "RTL support"
Compared to 7.x, we are missing the `devel-rtl.css` file that was added in https://www.drupal.org/node/149466 with https://git.drupalcode.org/project/devel/commit/69d850382452646d27a57e39338f03c5bf11ff62

Question: do we add that file as well, or do we add the respective RTL CSS in the existing `devel.css` file?

[2019-05-29 20:54] klonos commented on #24
I am working on cross ports from 7.x. I have found the following to be missing:

- `drush_devel_download()`

[2019-05-29 21:13] klonos opened #53 "`devel_cache_clear()` function missing"
...between `devel_function_reference()` and `devel_querylog_explain()` in `devel.pages.inc`:

[code]

[2019-05-29 21:14] klonos commented on #53
...should we be adding deprecated function wrappers for these, same as we do for core?

[2019-05-29 21:19] klonos opened #54 "`devel_menu_rebuild()` function missing"
...between `devel_querylog_arguments()` and `devel_reinstall()` in `devel.pages.inc`:

[code]

[2019-05-29 21:29] klonos opened #55 "`devel_variable*()` functions missing."
In `devel.pages.inc`, between `devel_field_info_page()` and `devel_session()`:

[code]

[code]

[code]

[code]

[code]

[2019-05-29 21:30] klonos commented on #55
...we have moved to config in Backdrop. So does it make sense to have respective functions, or should we provide deprecated wrapper functions for them?

[2019-05-29 21:45] klonos opened #56 "`devel_node_access_uninstall()` missing"
The devel_node_access.install file is practically empty (only comments).

From the 7.x version:

[code]

[2019-05-29 21:54] klonos opened #57 "`devel_node_access_admin_settings()` missing"
In `devel_node_access.module`, before `devel_node_access_form_alter()`:

[code]

[2019-05-29 23:31] klonos commented on #44
This is currently blocked on https://github.com/backdrop-contrib/devel/pull/58

[2019-06-12 18:40] bradbulger commented on #42
If the form has array structured inputs, so that there's an entry in $_POST like $_POST['list'][1] = 'red', phpinfo() generates that "Array to string conversion" error. It's not related to Devel particularly as far as I can tell. I can cause it with Devel disabled.

What's weird is that I have been trying to recreate it in Drupal 7, which seems like it should be the same, but so far with no succes

[2019-06-21 22:46] jenlampton commented on #42
I'm getting this too.
[code]

[2019-07-03 23:00] klonos commented on #49
Hey @quicksketch 👋 ...the D7 module decided to remove support for XHProf in https://git.drupalcode.org/project/devel/commit/dcf77278a96b1275cae5866970048f54c19f34ff and http://git.drupalcode.org/project/devel/commit/9d89e71e19b57a6c55ee78f4ddc14b9a1b55d9da ...they now recommend using https://www.drupal.org/project/xhprof instead. Do you think we should be doing the same in the Backdrop port, or re

[2019-07-06 01:51] klonos commented on #49
https://www.drupal.org/project/devel/issues/2653284 | https://git.drupalcode.org/project/devel/commit/66b409593700194623ed486fed58528ab85a68ec is not applicable to us, but that commit implemented "a fix" that was not an actual fix for the problem reported:

Instead of moving the URLs inside the strings, they should have used `@` references, and still use `url()`.

Anyway, that commit made it appar

[2019-07-06 03:51] klonos commented on #49
I want to mark http://drupal.org/project/devel/issues/2394661 | http://git.drupalcode.org/project/devel/commit/8f20578af2068c02587ba9a664ef411c38569ae2 as N/A, but wondering re this bit:

https://github.com/backdrop-contrib/devel/blob/1.x-1.x/lib/krumo/class.krumo.php#L676

[code]

I see that we ship the various available skins in https://github.com/backdrop-contrib/devel/tree/1.x-1.x/lib/krumo/sk

[2019-07-06 04:04] klonos commented on #49
It seems that the 7.x variables `dev_timer` and `dev_mem` have been renamed to `devel_timer` and `devel_mem` respectively at some point. In our devel.install file

[2019-07-09 06:16] klonos commented on #42
@jenlampton we are really behind on the 7.x commits, and this could be one of the problems that gets sorted by bringing the Backdrop port in parity with 7.x.

I have done most of the "legwork" in #49, filing PRs. I just need a second pair of eyes on them. If @quicksketch is too busy, I can then wear my Bug Squad hat and merge (most if not all) of these PRs.

PS: wondering if we can create pre-rele

[2019-07-09 16:06] jenlampton commented on #42
I'm not sure I see an advantage to doing a pre-release for contrib. We do that for core for PR reasons, but we don't have the same tools for making announcements about contrib. We should just merge into HEAD and let people test the version from GitHub. If we break things, the fix goes into HEAD too :)

[2019-07-10 14:31] VasasA opened #80 "Wrong function parameter for user_save() in devel_generate.inc"
There is a wrong function parameter for user_save() in devel_generate.inc line 107:
user_save($account, $edit);
I created a PR.

[2019-07-10 14:48] klonos commented on #80
@VasasA please be careful. You have committed directly instead of creating a PR.

The change was small, and it makes sense; so no need to revert. But please be careful in the future. You see, all contrib maintainers have permissions to push/commit to all contrib projects. "With great power comes great responsibility" 🙂

[2019-07-10 15:09] VasasA commented on #80
I'm sorry. I wanted to create only a PR.
I will be more careful.

[2019-10-09 08:41] ghost commented on #36
@docwilmot's PR works for me! https://github.com/backdrop-contrib/devel/pull/81

[2019-10-12 19:17] AlexShapka commented on #36
This is to confirm that #81 also worked for me. Thanks!

[2019-10-12 21:28] klonos opened #82 "What does `setUpDrupal()` in develDrushTest.php do?"
...and should there be a `setUpBackdrop()` equivalent?

See https://github.com/backdrop-contrib/devel/blob/1.x-1.x/develDrushTest.php#L12

[2019-10-29 01:16] alanmels opened #84 "Warning: Use of undefined constant DEVEL_ERROR_HANDLER_STANDARD"
This was just a warning, so could be ignored, but still decided to report. While upgrading a D7 website to Backdrop, running the /core/update.php file has given:

`Warning: Use of undefined constant DEVEL_ERROR_HANDLER_STANDARD - assumed 'DEVEL_ERROR_HANDLER_STANDARD' (this will throw an Error in a future version of PHP) in devel_update_1000() (line 69 of /var/www/docroot/modules/devel/devel.insta

[2019-11-03 18:57] alanmels opened #85 "Error syntax error, unexpected '->' (T_OBJECT_OPERATOR)"
Looks like with the commit on https://github.com/backdrop-contrib/devel/commit/1e77a6c2a0a004d2c4e8043e27844f1652a168ee several occurrences of `config_get()` got replaced with `config->get()` and hence the error.

Compare the line 1414: https://github.com/backdrop-contrib/devel/blob/6364b3574fa9149a22be8028759b155f83f3bee0/devel.module#L1414

[code]

which should be in fact:

[code]

[2019-11-03 19:21] alanmels opened #87 "ERROR: count(): Parameter must be an array or an object that implements Countable on line 1724 in devel.module"
The 1.x-1.x branch of Devel gives the error in title on a system with PHP 7.3.9. Looks like this was discussed on https://www.drupal.org/project/devel/issues/2959508 and fixed by https://git.drupalcode.org/project/devel/commit/bd4061f I'll create a PR with similar fix.

[2019-11-04 21:14] klonos commented on #85
Thanks for catching that @alanmels 👍 ...my bad 😞

Nope, it should actually be `$api = $config->get('api_url');`. See my comments in the PR.

[2019-11-04 21:15] klonos commented on #87
Actually, this is a duplicate of #44

[2019-11-04 21:15] #87 closed, assigned to nobody

[2019-11-04 21:33] alanmels commented on #85
I've got to this page only after replying you on PR. So if the idea was to use `$api = $config->get('api_url');`, then so be it - I'll be submitting new PR for this.

[2019-11-04 21:48] alanmels commented on #44
@klonos, Thanks for pointing the previously reported issue. Next time I will search the issues better to avoid duplicated work.

I am on https://github.com/backdrop-contrib/devel/pull/45/files now I have some additional notes which I'll put as code review.

[2019-11-05 16:39] alanmels opened #88 "ParseError: syntax error, unexpected '=' in module_load_include() (line 33 of ../image.devel_generate.inc)."
On attempt to generate content with image fields, it is giving the error:

[code]

[2019-11-13 14:43] alanmels commented on #44
Guys, would be nice to get this resolved as we are using the module on daily basis.

[2019-11-16 12:45] alanmels commented on #33
Just  to reference here that Search Krumo module has been ported to Backdrop and is now available on https://github.com/backdrop-contrib/search_krumo

[2019-11-16 12:51] alanmels commented on #85
I wanted to create another PR, but the dev branch of the module is not functional in current state, so this needs to go in as soon as possible please.

[2019-11-17 08:34] #85 closed, assigned to alanmels

[2019-11-17 08:35] klonos commented on #85
Thanks @alanmels. I've merged this into 1.x 😉

[2019-11-17 08:39] klonos commented on #33
Thanks @AlexShapka for porting the module 👍 ...I still think that we should merge this into devel, since it greatly improves the UX.

[2019-11-17 09:53] klonos commented on #44
@alanmels @BWPanda I have updated the PR. Can you please have a look.

[2019-11-17 10:41] alanmels commented on #44
I've just tested and everything seems to be working just fine. Thanks!

[2019-11-22 17:44] #88 closed, assigned to nobody

[2019-11-22 17:50] #44 closed, assigned to nobody

[2019-11-22 17:53] klonos commented on #44
I have now merged the PR. @alanmels @BWPanda please test 1.x for a few days, and if happy with it, I will create a release (please nudge me on Gitter 😉). Thank you both on helping out with this 👍

[2019-11-22 19:06] klonos commented on #80
Sorry for taking that long to come back to this. I have fixed things with https://github.com/backdrop-contrib/devel/commit/c9df5ae01720ce8d8f1033d6d8eb238520d263bb (respective commit for https://git.drupalcode.org/project/devel/commit/1d4e2ef295c76db89f30a52f52725afb8a43af2a)

[2019-11-22 19:06] #80 closed, assigned to nobody

[2019-12-09 19:29] herbdool commented on #84
This is duplicate of this older issue: https://github.com/backdrop-contrib/devel/issues/34. I'll update the title on the older one.

[2019-12-09 19:30] #84 closed, assigned to nobody

[2020-01-26 21:46] alanmels commented on #36
Unfortunately, this issue persists for me with the latest HEAD. Comparing the existing code with https://github.com/backdrop-contrib/devel/pull/81/commits/2de2e0e5c7217f057c600d1f33170559e3c1dcec I see that the line 266:

[code]

is slightly different than what was proposed by the patch:

[code]

However, trying both didn't work.

[2020-03-01 19:44] alanmels opened #91 "Make the xhprof location description more explicit"
Per original issue on https://www.drupal.org/project/devel/issues/1670686:

[2020-05-16 01:38] quicksketch opened #93 "Update FirePHP for PHP 7.4 compatibility"
When running Devel and Backdrop on PHP 7.4, there are a number of deprecation notices coming from the FirePHP class used by Devel. Seems like updating to the latest version of FirePHP will solve the problem. https://github.com/firephp/firephp-core/tree/master/lib/FirePHPCore

[2020-05-16 01:42] #93 closed, assigned to nobody

[2020-05-16 01:42] quicksketch commented on #93
Fixed in https://github.com/backdrop-contrib/devel/pull/94.

[2020-05-16 01:50] quicksketch commented on #24
Thanks @klonos. Turns out I removed `drush_devel_download()` because we just bundle FirePHP directly with Devel module, so there's no need to ever download it manually. I'll remove that Drush command since it does not serve any purpose.

[2020-05-16 02:35] #24 closed, assigned to nobody

[2020-05-16 02:36] quicksketch commented on #24
This should be fixed in https://github.com/backdrop-contrib/devel/pull/95.

I tried generating content, users, terms, menus, and vocabularies all through the drush commands. e.g.

[code]

[2020-05-16 02:41] quicksketch commented on #26
The code isn't perfectly clear, but we already only add field implementations for modules that exist. This bit of code is in `devel_generate_fields()`:

[code]

At first read, it might look like we're including all of those module implementations. But what's happening here is that the module name is being provided by the field for which we're generating content. So if this is an image field for ex

[2020-05-16 02:41] #26 closed, assigned to nobody

[2020-05-16 02:57] quicksketch commented on #27
I haven't been able to reproduce this problem. Can you try it on the current version and see if it's still happening?

[2020-05-16 03:07] #29 closed, assigned to nobody

[2020-05-16 03:08] quicksketch commented on #29
Thansk @herbdool and @robertgarrigos. I removed that check since it's a lot less applicable in Backdrop due to Layouts. Fixed in https://github.com/backdrop-contrib/devel/pull/96.

[2020-05-16 03:12] quicksketch commented on #34
This was fixed in c478c27be9b06414089ee67ffe680b96abac63fe.

[2020-05-16 03:12] #34 closed, assigned to nobody

[2020-05-16 03:34] quicksketch commented on #91
Thanks @alanmels! As part of https://github.com/backdrop-contrib/devel/pull/64 we're removing XHProf from Devel, I put my explanation there in the PR.

I use XHProf (or Tideways) still regularly and I think it's a very valuable thing for us to support within Backdrop, but getting Tideways working with the XHProf library to inspect the reports is a serious pain. We should port the XHProf module fro

[2020-05-16 03:34] #91 closed, assigned to nobody

[2020-05-16 03:37] quicksketch commented on #38
Thanks @laryn! Fixed in your PR at https://github.com/backdrop-contrib/devel/pull/39.

[2020-05-16 03:37] #38 closed, assigned to nobody

[2020-05-16 03:53] quicksketch commented on #46
Thanks @jlfranklin! Merged in https://github.com/backdrop-contrib/devel/pull/97.

[2020-05-16 03:53] #46 closed, assigned to nobody

[2020-05-16 03:59] quicksketch commented on #40
Thanks, fixed in https://github.com/backdrop-contrib/devel/commit/f2427a0c88d6c425584206a87331c1ea1d50f8c8

[2020-05-16 03:59] #40 closed, assigned to nobody

[2020-05-16 04:02] quicksketch commented on #55
Hm, Backdrop does still have the variables table, even though it's not used in core and deprecated. I'm not much a fan of including functionality for it in Devel.

As for an analogue in Backdrop, editing config files is _much_ easier than manipulating a database table with serialized values. And if you want a UI for editing values, you can use the existing config import UI to modify individual fil

[2020-05-16 04:05] quicksketch commented on #43
They're different pieces of functionality, the top level "Development" item isn't Configuration, they're utility tools. Perhaps we should rename the top level link from "Development" to "Devel Tools" to make it clear it's something different?

[2020-05-16 04:19] quicksketch commented on #48
Thanks @klonos! I found out that we were sometimes passing in a vocabulary name of `NULL`, which caused this problem. But it only happens literally randomly for each term created. This should be fixed in ba01e0b.

[2020-05-16 04:19] #48 closed, assigned to nobody

[2020-05-16 04:22] quicksketch commented on #56
Backdrop does not add it's own menu, instead it puts Devel items in the main `/admin` path so that they show up in the admin bar. Since it doesn't create it's own menu, it doesn't need to clean it up on uninstall.

Please reopen if it's necessary for this to exist for another reason (e.g. the cross-porting you're doing). If needed we can re-add it to do other clean-up, even if it's not needed for

[2020-05-16 04:22] #56 closed, assigned to nobody

[2020-05-16 04:28] quicksketch commented on #36
Looks like an extra pipe character was accidentally added in the PR. After removing it, the form works correctly: bb5584e

I'm working on making a new release. If this still exists in 1.8.0 please reopen.

[2020-05-16 04:28] #36 closed, assigned to nobody

[2020-05-16 04:32] quicksketch commented on #54
Perhaps this was removed because it's not used anywhere? Or perhaps now that admin_bar is part of core, it didn't make any sense for Devel module to provide duplicate functionality for rebuilding the menu when core provides that directly under `Home > Flush all caches > Menu`.

Please reopen if needed.

[2020-05-16 04:32] #54 closed, assigned to nobody

[2020-05-16 04:36] quicksketch commented on #82
It looks like `Drush_CommandTestCase` provides that, which is part of Drush core. We could in theory add something equivalent directly in our class, but this looks like it's a PHPUnit test, which Backdrop doesn't even support. Perhaps at this point removing that test would be prudent, since it's impossible to run on Backdrop and it only covers a single check in the entire drush integration.

[2020-05-22 09:53] nickonom opened #98 "Notice: Undefined variable: _recursion_marker in krumo::_vars() (line 1018 of ..devel/lib/krumo/class.krumo.php)."
Hello,

To replicate the error, just go to `/node/2/devel` and `/admin/reports/dblog` will be filled with error messages as:

[code]

[2020-05-22 22:58] alanmels commented on #42
Started to work on a new Backdrop project with Theme Debug feature enabled today and this issue pops up very often on the website's log.

[2020-07-16 16:44] herbdool opened #100 "Add ability to wipe and rebulid menu"
After upgrading from D6 or D7 I sometimes end up with a lot of cruft in the menu. Might be handy to have a link to wipe and rebuild all the menu links/routers. Sort of a wrapper around https://drupal.stackexchange.com/questions/58618/how-do-i-call-the-menu-rebuild-function-in-drupal-7/82222#82222

[2020-07-21 23:38] alanmels opened #101 "Warning: count(): Parameter must be an array or an object that implements Countable in krumo::_object() (line 1156 ../class.krumo.php)."
This issue is similar to https://github.com/backdrop-contrib/devel/issues/44, however is about the different line:

[code]

Replaced the line with:

[code]
 and it works for my use case. However, since the file has number of other occurrences of `count()`, they all should be properly re-worked for the newer PHP versions.

[2020-07-22 00:38] alanmels commented on #98
The search_krumo module has to be enabled to replicate the issue.

[2020-07-31 10:11] kktsvetkov commented on #101
Can you try upgrading Krumo, I think this is fixed in https://github.com/kktsvetkov/krumo/releases/tag/0.4.1

[2020-07-31 10:13] kktsvetkov commented on #44
Can you also look into upgrading Krumo, I think this is fixed in https://github.com/kktsvetkov/krumo/releases/tag/0.4.1 ?

[2020-08-05 01:09] jenlampton commented on #101
I replaced the old krumo lib with version 0.4.1 and I still have the error:
[code]

edit: apologies, this is not the version 0.4.1. Will try again.

[2020-08-05 01:46] jenlampton commented on #101
The devel module is using version 2.0.1a, but [the krumo fix](https://github.com/kktsvetkov/krumo/commit/93e1a89626ffd1b587b1415865fd7c8f12c9335f) was added to a much more recent version. I tried applying the patch to 2.0.1a but, unsurprisingly, it failed :)

We can add our own fix directly to the older version of the krumo library as follows:
[code]

...but it would probably be better to figure o

[2020-08-05 01:54] jenlampton opened #102 "Update krumo to at least 0.4.1"
This was recommended in https://github.com/backdrop-contrib/devel/issues/101 but I couldn't get it to work.

Devel is currently using version 0.2.1a, which includes the function `krumo::addCssJs()`. We are using this function to attach the CSS and JS from krumo on the second page load, where the messages will be printed if `dpm()` is called after the messages area is already rendered on the curren

[2020-08-05 01:57] jenlampton commented on #101
PR here could use a review.

[2020-11-02 08:50] ghost commented on #102
It seems Devel has hacked Krumo and changed a bunch of stuff in Krumo's files - including adding the `addCssJs()` function.

Here's a diff I made of Krumo v0.2.1a downloaded from their GitHub repo, and Devel's copy (`diff -uprwiNEB --ignore-file-name-case krumo-0.2.1a/ krumo/`): [krumo.diff.txt](https://github.com/backdrop-contrib/devel/files/5473715/krumo.diff.txt)

[2020-11-26 23:48] ghost opened #104 "Web page (dpm()) slowing down browser"
Sometimes when I use `dpm()` to view an object/variable, I get a message in my browser saying that a web page is slowing down the browser:

![2020-11-27_10-40](https://user-images.githubusercontent.com/2385329/100397356-59d40d00-309d-11eb-904c-7e70bd4d05c3.png)

Even though I click the 'Wait' button, the message often keeps appearing. If the page does eventually finish loading, the `dpm()` output

[2020-11-26 23:55] ghost commented on #104
I just found a topic where I had previously complained about this issue in Zulip, and when I used `dd()` to output the variable to a file instead of the screen, the file was 400MB in size.

So I guess I'm asking if there's a way Devel/`dpm()` can output maybe just the top level or so of a large array/object, instead of trying to output the whole thing and causing these issues.

Drupal 8's `kint()`

[2020-12-18 04:27] ghost commented on #98
PR looks good to me. Can @quicksketch merge and make a new release, or can a @backdrop-contrib/bug-squad member?

[2020-12-18 04:35] ghost commented on #101
PR works for me. @quicksketch or @backdrop-contrib/bug-squad care to merge & release new version?

[2020-12-18 05:28] #98 closed, assigned to nobody

[2020-12-18 05:29] jenlampton commented on #98
I put on my bug-squad hat and merged the PR, but we aren't authorized to make a new release.

[2020-12-18 05:30] #101 closed, assigned to nobody

[2020-12-18 05:30] jenlampton commented on #101
I've merged the PR, but the bug squad isn't authorized to make a new release.

[2020-12-21 17:01] klonos commented on #42
OK, it seems to me that the entire `devel_is_compatible_optimizer()` function should be removed. Here's why:

- Backdrop supports only php 5.3.2+: https://backdropcms.org/requirements
- Zend Optimizer has been updated and renamed to Zend Guard since PHP 5.3. See:
  - https://www.nicovs.be/?p=231

  - https://stackoverflow.com/questions/11584109/load-zend-optimizer-for-php-5-3

  - https://stackove

[2021-01-29 06:50] alanmels opened #106 "Generate content does not generate any comments"
Generating nodes of content types with open commenting does not generate any comment.

[2021-01-29 06:58] alanmels commented on #106
Trying this from CLI gives:

[code]
However, none of the nodes has comments.

[2021-01-29 08:31] alanmels opened #108 "Comments all generate with the same timestamp"
If https://github.com/backdrop-contrib/devel/issues/106 is resolved, we still have a problem with generating comments - they all have the same timestamp. Will dig into this now...

[2021-02-09 21:52] bradbulger commented on #101
The old behavior when you called count() on a non-countable variable was 0 for NULL and 1 for anything else. Should this be emulating that?

[2021-02-17 18:59] bradbulger opened #110 "redirect page missing content"
If you turn on the "display redirect page" option, when it stops you are apparently not in the default page layout. The messages area is not displayed, so you don't see any dpm() output, errors, etc. This defeats the purpose of the redirect page, I think?

[2021-02-17 19:20] bradbulger commented on #104
I'm seeing something like this, trying to dpm($form) in a validation function, pretty normal. Chrome loads and loads until it finally crashes. I tried walking through each item in the form array, but it's not clear where the slowdown is coming from. The last field that's visible is a long text field, which does have recursive references, but I'd already displayed a dpm() result for one above. Mayb

[2021-02-24 19:26] alanmels opened #111 "Switching user does not properly clear cache"
Subj. and therefore the user you switched into can see the data on UI which belongs to another user (user switched from).

To replicate the issue just enable the [Poll module](https://github.com/backdrop-contrib/poll/), vote as one user then switch to another user. The switched-to-user looks like already voted, however the poll opens for him if the page's cache is cleared.

[2021-02-24 19:34] alanmels opened #113 "Request for co-maintainership"
I believe Nate has no time as the issue queue shows lot's of good, but uncommitted PRs. And because this module is essential in developing Backdrop websites, we have to maintain another fork of the module with committed PRs. Which is not ideal.

The README says the module is seeking additional maintainers. Please add me as a co-maintainer, so I could push number of necessary PRs in.

[2021-02-24 22:29] jenlampton commented on #113
@alanmels thanks for your interest in helping to maintain devel!  I, for one, would love to see you as a co-maintainer. :) I've also been applying patches to devel on each of my sites, and I agree it's a hassle.

Could you please file a PR that adds your name to the readme, and place a link to the PR from this issue?

Filing a PR will make it easy for any of the current maintainers to merge your P

[2021-02-24 22:35] jenlampton commented on #104
PHP's `debug_backtrace()` has a similar parameter that allows for a level of nesting.

I often use `dpm(array_keys($variable));` when I know the variable I'm printing is deep -- to get only the first level.

It would be nice if the default for `dpm()` was something like 4 or 5 levels deep, but if we do figure out how to truncate the nesting somehow, it would be important that we have some way to t

[2021-02-24 22:38] jenlampton commented on #113
I just went through the list of PRs to see if anything there qualified for a Bug Squad merge today, but nothing there has been tested and approved yet.

[2021-03-10 19:06] #113 closed, assigned to nobody

[2021-03-10 19:07] jenlampton commented on #113
PR merged by bug-squad. @alanmels you are now a co-maintainer for devel!

[2021-03-21 22:59] jlfranklin opened #115 "Add devel tabs to the File entity pages"
Users, nodes, taxonomies, and contents all have a "Devel" tab with "Load" and "Render" subtabs.  Managed files could have the same under `file/%file/devel`.

[2021-03-21 23:08] jlfranklin commented on #115
All it needs are the menu router entries.

[2021-03-26 19:20] klonos opened #118 "Execute dpm() only once"
This is basically the same as https://www.drupal.org/project/devel/issues/2294133, which was rejected for the 7.x version of the module.

I was getting browser page timeouts and the patch provided in https://www.drupal.org/files/issues/execute-only-once-dpm-2294133-2-7.patch worked like a charm (with minor Backdrop-specific modifications), so I believe that this would be a nice addition to the mod

[2021-04-09 23:43] #111 closed, assigned to nobody

[2021-04-09 23:50] #106 closed, assigned to nobody

[2021-04-09 23:51] #108 closed, assigned to nobody

[2021-04-09 23:52] #118 closed, assigned to nobody

[2021-04-09 23:54] #42 closed, assigned to nobody

[2021-05-08 05:49] klonos opened #120 "Allow debugging during Backdrop core Simpletest"
This is basically the same as https://www.drupal.org/project/devel/issues/852194

That issue was originally about introducing a new `sdpm()` function, but the latest patches provided there tweak `devel.module` to allow the existing `dpm()` function to output its results in the tests results summary, the same way as the `debug()` function does.

I was able to patch the Backdrop version of the modul

[2021-05-08 06:03] klonos commented on #120
Related discussion in Zulip: https://backdrop.zulipchat.com/#narrow/stream/218635-Backdrop/topic/Debugging.20tests/near/235053706

@klonos

@indigoxela

@oadaeh

@klonos

@hosef

@oadaeh

@klonos

@indigoxela

[2021-05-08 07:47] klonos commented on #120
PR here: https://github.com/backdrop-contrib/devel/pull/121

[2021-06-08 13:12] kktsvetkov commented on #101
@jenlampton I think that code snippet with `Countable` might be from an old krumo fork and not from my project. What I do instead of the counting of the properties is to use a flag called `$has_properties`

[code]

https://github.com/kktsvetkov/krumo/blob/master/class.krumo.php#L1139

[2021-06-08 18:58] jenlampton commented on #101
Thanks @kktsvetkov!

I had mentioned [above](https://github.com/backdrop-contrib/devel/issues/101#issuecomment-668924708) that we are, in fact, using a very old version of Krumo that still contains the `count()` calls. I also linked to the commit where Krumo switched to using `$has_properties` instead.

We certainly need to update! Hence, #102.

[2021-06-30 23:02] larsdesigns opened #122 "PHP Notice: Array to string conversion"
The following notice is generated after saving the settings form and when devel is used.

path: admin/config/development/devel

`Notice: Array to string conversion in devel_is_compatible_optimizer() (line 1103 of /var/www/bd.energize/web/modules/devel/devel.module).`

[2021-06-30 23:40] larsdesigns commented on #122
This was fixed in https://github.com/backdrop-contrib/devel/pull/105. closing...

[2021-06-30 23:40] #122 closed, assigned to larsdesigns

[2021-09-10 09:51] klonos commented on #120
@quicksketch or @alanmels can you please review and merge this? I have been using it on my local w/o issues since May.

[2021-09-10 10:07] klonos opened #123 "Warning: mt_rand(): max(0) is smaller than min(1) if max comments is set to 0"
When generating nodes with the "Maximum number of comments per node." setting set to 0, I receive this warning multiple times:

[code]

[2021-09-10 10:20] klonos commented on #123
@alanmels or @quicksketch can you please review/merge this simple fix? Thanks.

[2021-09-24 16:29] bugfolder commented on #120
I tried this out by applying this PR to a local test site and found a reproducible failure. To reproduce, in file `dashboard.test` in function `testDashboardLayout()`, add the following lines at the top:

[code]

Then run the Dashboard test. (There's nothing special about the Dashboard test; I'm just using it to host the test code.) In the test, the first two `dpm()` calls work fine, properly rend

[2021-09-24 16:38] docwilmot commented on #120
Will the test need to add devel module to `setup()`?

[2021-09-24 16:52] bugfolder commented on #123
Tested on a local site: works as advertised. LGTM.

[2021-09-24 17:08] bugfolder commented on #120
I think if tested automatically, it needs to be added. When testing using the real-time testing (via /admin/config/development/testing), it wasn't necessary (but I had devel enabled on the test site). Adding it to `setup()` doesn't affect the success and error described above.

[2021-09-24 18:46] klonos commented on #120
🤔

[2021-10-07 17:04] jenlampton opened #125 "Offer to become co-maintainer"
I use this module daily, and since there are some pretty serious issues with Devel on php 7.4, I've been running HEAD on most of my sites for quite a while. I'd like to offer to become a maintainer to create a new release containing some of these bug-fixes, but I'm happy to bow out again once there's a stable version that can be installed using `drush dl` :)

[2021-10-07 18:40] #125 closed, assigned to nobody

[2021-10-07 20:47] #123 closed, assigned to klonos

[2021-10-07 20:50] jenlampton commented on #115
Fixed via https://github.com/backdrop-contrib/devel/pull/117

[2021-10-07 20:50] #115 closed, assigned to nobody

[2021-10-07 20:52] #120 closed, assigned to klonos

[2021-12-13 21:58] hosef opened #127 "Move the performance monitoring settings to a seperate module"
I would like to separate out the performance monitoring parts of Devel so that improvements to them can be done more easily and with less risk of breaking other parts of Devel. This would include the query log, page execution time, and memory usage, all of which are printed at the bottom of the page.

[2021-12-16 20:06] hosef opened #129 "Allow performance data from multiple pages to be saved and looked up"
I would like to change the way performance profiles about pages is stored so that the data can be looked up later and different pages can be compared.
Currently, the data for queries is stored in temporary files that the OS cleans up later. I want to store that data as well as other data about the page in files in the files directory.

[2021-12-16 20:11] hosef opened #130 "Add code to parse and display Xhprof data in a more human readable format"
I would like to re-add code to collect data from Xhprof, but instead of requiring external dependencies to view it, I want to store it with the query data that we can collect already and display it in a easy to access way.

[2021-12-19 23:35] hosef commented on #127
After spending some time working on folow-up issues to add more performance data, I think this might be better as a separate module. I am going to close this and upload the code in a new repo.

[2021-12-19 23:35] #127 closed, assigned to hosef

[2021-12-19 23:35] #130 closed, assigned to hosef

[2021-12-19 23:35] #129 closed, assigned to hosef

[2021-12-20 19:31] herbdool opened #131 "FirePHP in PHP 7.4+: getting Array and string offset access syntax with curly braces is deprecated error"
I'm guessing it's this library: https://github.com/firephp/firephp-core

[2022-01-08 11:07] ghost opened #132 "Import/export database feature request"
I was watching this video a while ago (https://odysee.com/@BrodieRobertson:5/what-could-a-gui-terminal-actually-look:b) about how a GUI terminal might look/work (i.e. having a UI app for performing the same functions as a terminal, but point-and-click instead of typing commands). And it got me thinking about Bee. I wondered what a GUI for that would be like. I looked through the commands Bee suppo

[2022-01-09 16:23] olafgrabienski commented on #132
FYI, Backup and Migrate *does* also database importing.

[2022-01-17 21:57] argiepiano commented on #104
I'm seeing the same issue. Just for comparison, I'm trying to output exactly the same in both Drupal 7 and Backdrop using dpm. It is a complex structure; however, D7 is able to output it in about 5 seconds. Backdrop never does - the browser keeps spinning and asking to terminate.

While outputting the array keys is a neat trick, it doesn't always work well.  It would be great if dpm worked as it d

[2022-01-17 22:27] jenlampton commented on #104
Maybe @hosef can help us with this one?

On Mon, Jan 17, 2022, 1:57 PM Alejandro Cremaschi ***@***.***>
wrote:

[2022-01-21 21:13] argiepiano commented on #104
I've done a bit of digging. The server side processing of the dpm structure is very fast - that's not the issue. It's the browser side processing that's taking a crazy amount of time in Backdrop.

See these two screen captures for comparison. I did a `dpm(theme_get_registry());` both in Drupal 7 and Backdrop 1.21.0 running in the same environment.

The images below show that Backdrop took 21,700 m

[2022-01-22 01:13] argiepiano commented on #104
I have done some additional comparisons after @BWPanda suggested this in Zulip.

The output of `theme_get_registry()` is similar in both Drupal 7 and Backdrop: 142Kb in D7,  139Kb in Backdrop.

I also compared the HTML output of kprint_r, which is the function that dpm uses to produce the markup. Again, very similar in both:  940Kb for Drupal, and 882Kb for Backdrop.

To me, this suggests that, as

[2022-01-22 10:19] ghost commented on #132
I started work on this (as per the above screenshot), and wanted to save this work without losing it, so here's an in-progress PR: https://github.com/backdrop-contrib/devel/pull/133

[2022-01-22 10:28] ghost commented on #104
Not sure if this is related, but it probably doesn't help that we're using an ancient version of Krumo: https://github.com/backdrop-contrib/devel/issues/102

[2022-01-22 11:29] ghost commented on #102
Here's a PR that updates to the new version: https://github.com/backdrop-contrib/devel/pull/134

I simply replaced the Krumo library with the updated one, then commented out the lines in `devel.module` that caused issues, and hard-coded the `default` skin.

There's obviously more work to do here, like deciding what removed customisations are still needed (and working out how to add them back in, p

[2022-01-22 11:34] ghost commented on #104
@argiepiano Can you please try the PR in https://github.com/backdrop-contrib/devel/issues/102 (which updates Krumo to the latest version) and see how that performs against your previous tests? It seems much snappier to me...

[2022-01-24 19:23] #102 closed, assigned to nobody

[2022-01-24 19:25] jenlampton opened #135 "Follow-up to updating the Krumo library"
This is a follow-up to https://github.com/backdrop-contrib/devel/issues/102

From that issue (thank you @BWPanda)

[2022-01-24 19:29] jenlampton commented on #102
I was so excited that I merged this. I'm not sure that was the best idea, but I'm going to give it a try. I've also created a follow-up issue to address all the things we still need to do: https://github.com/backdrop-contrib/devel/issues/135

[2022-01-24 20:03] ghost commented on #135
One of the main differences I've noticed between this new, clean version and the old, hacked version is the calling function listed at the bottom of the Krumo output.

My limited testing shows it always seems to say Devel is the caller. One of the hacks we had before was to filter the backtrace by skipping functions with 'devel' in the name, obviously for this reason.

Not sure how to address this

[2022-01-24 23:28] jenlampton commented on #135
That sounds like a great idea. Maybe someone else has opened a similar issue in their queue before?

[2022-02-09 22:55] docwilmot commented on #135
I tried the latest dev and did a `dpm()` on a views row `$fields` variable and keep getting `Error: Maximum function nesting level of '256' reached, aborting! in is_callable() (line 1109 of modules\devel\lib\krumo\class.krumo.php)`, which doesnt happen if I revert to previous version

[2022-03-27 02:34] argiepiano opened #136 "Devel generate creates authenticated users with wrong role machine name"
When using devel  to generate authenticated users, the saved roles are incorrect. See attached image. The generated user has two roles: `authenticated` (which is correct) and `Authenticated` (which is incorrect).

This produces notices when displaying roles in a View: `Notice: Undefined index: Authenticated in views_handler_field_user_roles->pre_render() `

I believe the issue is that `devel_gener

[2022-03-27 02:46] argiepiano commented on #136
PR #137 ready for review.

[2022-03-27 02:58] argiepiano commented on #104
@BWPanda I'm happy to report that, with the PR you made (which @jenlampton merged already into the dev version) `theme_get_registry()` is now built and shown at blazing speed!  I haven't tested other dumps, but this was one that took over 20 seconds, now shown in 2 seconds. Thanks!

[2022-03-27 10:30] ghost commented on #104
@argiepiano Great news! Shall we close this issue as 'fixed' then, or did you want to do more testing?

[2022-03-27 13:43] argiepiano commented on #104
@BWPanda the new merged PR, when it works, solves the issue of speed, so, yes, we could close this.

The PR, however, creates other issues. See #135. I will open another issue as well that I just found. So, while the speed is not a problem now, there are others more serious issues with the new PR.

[2022-03-27 13:45] argiepiano commented on #135
I can confirm this problem dumping a view structure. To reproduce:

[code]
You get a 500 error in the browser's console, and the nesting error posted above  by @docwilmot.

[2022-03-27 13:51] argiepiano opened #138 "dpm() outputs empty structure for metadata wrappers"
This issue may be related to #135, and appeared after the PR #134 was merged.

To reproduce,  enable Entity Plus and:

[code]

The result is an empty object dump. Before the PR, and in D7, you would get a full EntityBackdropWrapper object.

[2022-03-27 15:40] ghost commented on #104
OK, closing this then.

Fixed in https://github.com/backdrop-contrib/devel/issues/102

[2022-03-27 15:40] #104 closed, assigned to nobody

[2022-03-27 16:00] docwilmot commented on #135
Got the same nesting error yesterday on a FormAPI $variables array. I wonder if this is a more general issue than just Views.

It's much much faster though.

[2022-03-27 16:08] argiepiano commented on #135
Agreed. Perhaps some of the krumo customizations that the upgrade removed were necessary. I'm wondering if it may be worth looking at the current D7 version, which is fast and works well with views and other complex structures.

[2022-03-31 23:29] kswan opened #139 ""Show query arguments" configuration is not saved"
The admin/config/development/devel page shows a configuration for "Show query arguments", but the setting isn't saved when the "Save Configuration" button is clicked.

After checking the "Show query arguments" box and saving, I checked the configuration file and there is no entry for "show_query_args_first". If I manually add this line to the configuration file ("show_query_args_first": true,), th

[2022-07-14 23:10] herbdool opened #140 "Include ability to generate entity reference fields"
Now that entity reference is in core could include https://git.drupalcode.org/project/entityreference/-/blob/7.x-1.x/entityreference.devel_generate.inc here.

[2022-07-28 22:26] alanmels opened #141 "Too few arguments to function backtrace_error_handler()"
With PHP 8.1.5 it's giving:

[code]

[2022-08-25 20:04] yorkshire-pudding opened #142 "Put all devel config into devel.settings.json"
I find it very odd that some devel settings are in `devel.settings.json` and some are in `system.core.json` (possibly others)

As an example, `theme_debug` and `rebuild_theme_registry` are next to each other in the UI but

`theme_debug` is in  `system.core.json`
`rebuild_theme_registry` is in `devel.settings.json`

The reason this is annoying is if I want to enable devel in local and disable devel

[2022-08-27 13:53] yorkshire-pudding commented on #142
Digging into this further, I find that `devel` just exposes an existing core setting to the UI. Closing this

[2022-11-16 16:14] yorkshire-pudding commented on #141
I'm getting this also on PHP 8.1.10

[code]

[2022-11-16 16:18] yorkshire-pudding commented on #141
@jenlampton @quicksketch @alanmels - PR added which fixes this issue.

[2022-11-23 12:39] yorkshire-pudding opened #144 "Invalid option source in Sort query log element"
**Steps to reproduce**
1. Start from new install of Devel or disable and uninstall then re-enable
2. Open Devel settings
3. Leave Display query log as unchecked and change another setting (e.g. Enable theme debug)
4. Save

**Expected result**
Settings save

**Actual result**
Error message: Invalid option source in Sort query log element.
Now, if we click on Display query log we see this:
![image](

[2022-11-23 12:56] yorkshire-pudding commented on #144
@jenlampton @quicksketch @alanmels

I've added a PR for this issue - please review.

[2022-11-23 15:55] yorkshire-pudding commented on #43
I came across this today and was convinced something is wrong.
![chrome_qbj2gZ29fs](https://user-images.githubusercontent.com/20357797/203590140-613471fb-2b5a-4405-a6a0-63d49219736b.gif)

Why do we have 2 links for 'Devel settings'?  When you click on Development > Devel settings the path shows Configuration as being the parent, which is confusing.  If as @quicksketch suggests, the two are differe

[2022-11-23 16:29] alanmels commented on #144
On a fresh Backdrop setup with Devel it shows "by source" selected by default as soon as I check on the "Display query" log option:

![Screenshot 2022-11-23 at 10 28 17 AM](https://user-images.githubusercontent.com/56604405/203598588-6a8157e3-5bbb-43ad-9731-8d74c56f55bd.png)

[2022-11-23 17:19] yorkshire-pudding commented on #144
Works on PHP 7.4; does not work on PHP 8.1 (or PHP 8.0)

I don't know why it works on 7.4 as the code isn't clear.

The default config: `config/devel.settings.json` says :
[code]

`devel.module` has this as the constant values:
[code]

`devel.admin.inc` defines the radio buttons as:
[code]
This results in markup of:
[code]

As you can see the radio values are 0 and 1. As 1 being 'by duration' then

[2022-11-23 17:32] #144 closed, assigned to yorkshire-pudding

[2022-11-23 17:34] alanmels commented on #144
You're right - I was failing to replicate the problem because I was testing it on a system with PHP 7.4. Re-launching the environment on PHP 8.1 confirmed the problem and the validity of the fix. Thank you.

[2022-11-25 03:51] #141 closed, assigned to nobody

[2022-11-25 03:51] quicksketch commented on #141
Thanks @yorkshire-pudding! PR looks trivial. I merged https://github.com/backdrop-contrib/devel/pull/143. Thanks!

[2022-11-25 03:53] #136 closed, assigned to nobody

[2022-11-25 03:53] quicksketch commented on #136
Thanks @argiepiano! I merged #137!

[2022-11-25 03:57] quicksketch commented on #132
I'm in favor of leaving this functionality to Backup and Migrate. I like that B&M also gets into some of the nuances of Backdrop, like wanting to backup not just the database but also the config into a single zip file, and then importing both DB and config at the same time.

There's also been some talk of incorporating a portion of Backup and Migrate in core: https://github.com/backdrop/backdrop-i

[2022-11-25 04:08] quicksketch opened #146 "Krumo library includes some CRLF line endings"
When working on a site that has a `.gitattributes` file that specifies LF (Linux) line-endings only, I found that a few CSS files in Devel have CRLF (Windows) line-endings. All files in Backdrop core use LF line-endings, and Devel should too.

To fix and prevent this issue in the future, I think we should add our own `.gitattributes` file to Devel (and probably all contrib projects by default) so

[2022-11-25 04:29] #146 closed, assigned to nobody

[2022-11-25 05:23] quicksketch opened #148 "Some Date field widgets do not support increment values in Devel Generate"
The new Date "HTML5 widget" does not have "increment" values, and when generating content that uses one of these fields, a PHP notice is thrown:

[2022-11-25 05:26] #148 closed, assigned to nobody

[2022-11-25 05:26] quicksketch commented on #148
Fixed by https://github.com/backdrop-contrib/devel/pull/149.

[2022-11-29 11:14] yorkshire-pudding opened #150 "New release?"
There's been quite a few issues closed since the last release including a few around PHP 8.1.

Please @quicksketch , @jenlampton , @alanmels - can we have a new release?

[2022-11-29 17:10] jenlampton commented on #150
I don't think this is ready for a release as-is, we may need to revert some
changes around the library update. I'd be willing to work on that today.

On Tue, Nov 29, 2022, 3:14 AM Martin Price ***@***.***> wrote: